table {
    width: 60%;
    min-width: 430px;
    
    background-color: #e1e1e1;
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #61dafb;
}

table th{
    background-color: #61dafb;
    padding: 10px 0;
}
table th:first-child{
    border-top-left-radius: 10px;
    padding-left: 20px;
}
table th:last-child{
    border-top-right-radius: 10px;
}
table td{
    border-bottom: 1px solid #bebebe;
    padding: 10px;
}
table tr:last-child td{
    border-bottom: 2px solid #61dafb;
}
table td button{
    border: none;
    background-color: rgb(255, 162, 162);
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    padding: 5px;
    transition: background-color 0.4s;
}
table td button:hover{
    background-color: rgb(247, 113, 113);

}

